#card {
    background-color: green;
}

body {
    background-image: url("../imgs/rick-and-morty-wallpaper-portal-wallpaper-001.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.btnadmin {
    color: white;
}

.btn-secondary {
    float: right;
}
.btn{
background-color: green;
} 
.btn-primary{
    background-color: green;
}