body{
    background-color:black ;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../imgs/rick-and-morty-wallpaper-portal-wallpaper-001.jpg);
    opacity: 0.2;
    z-index: -1;
}
.pumbluslogin{
    margin-left: 1500px;
  }
  .altura-container{
    min-height: 900px;
  }
  .video-pumblus{
    width: 100%;
    height: 90%;
  }

  .squanchy{
    min-width: 400px;
  }